services:
  mongodb:
    image: chandana137/mongodb:v1
    container_name: mongodb
    expose:
      - "27017" 
  catalogue:
    image: chandana137/catalogue:v1
    container_name: catalogue
    expose:
      - "8080"
    depends_on:
      - mongodb
  redis:
    image: redis:7
    container_name: redis
    expose:
      - "6379"
  mysql:
    image: chandana137/mysql:v1
    container_name: mysql
    expose:
      - "3306"
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASSWORD: roboshop123
  cart:
      image: chandana137/cart:v1
      container_name: cart
      expose:
        - "8080"
      depends_on:
          - redis
          - catalogue
  user:
     image: chandana137/user:v1
     container_name: user
     expose:
      - "8080"
     depends_on:
        - redis
        - mongodb
  shipping:
      image: chandana137/shipping:v1
      container_name: shipping
      expose:
        - "8080"
      depends_on:
        - cart
        - mysql
  payment:
     image: chandana137/payment:v1
     container_name: payment
     expose:
        - "8080"
     depends_on:
      - cart
      - user
      - rabbitmq
  frontend:
     image: chandana137/frontend:v1
     container_name: frontend
     ports:
      - "80:80"
     depends_on:
      - cart
      - user
      - shipping
      - payment
      - catalogue
networks:
  default:
      driver: bridge
      name: roboshop
      external: false
