services:
  mongodb:
    build: 
      context: ./mongodb
      dockerfile: Dockerfile
    image: chandana137/mongodb:v1
    container_name: mongodb
    expose:
      - "27017"
    volumes:
      - mongodb:/data/db

  catalogue:
    build: ./catalogue
    image: chandana137/catalogue:v1
    container_name: catalogue
    expose:
      - "8080"
    depends_on:
      - mongodb

  redis:
    image: redis:7
    container_name: redis
    expose:
      - "6379"
    volumes:
      - redis:/data

  mysql:
    build: ./mysql
    image: chandana137/mysql:v1
    container_name: mysql
    expose:
      - "3306"
    volumes:
      - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    expose:
      - "5672"
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20

  cart:
    build: ./cart
    image: chandana137/cart:v1
    container_name: cart
    expose:
      - "8080"
    depends_on:
      - redis
      - catalogue

  user:
    build: ./user
    image: chandana137/user:v1
    container_name: user
    expose:
      - "8080"
    depends_on:
      - redis
      - mongodb

  shipping:
    build: ./shipping
    image: chandana137/shipping:v1
    container_name: shipping
    expose:
      - "8080"
    depends_on:
      - cart
      - mysql

  payment:
    build: ./payment
    image: chandana137/payment:v1
    container_name: payment
    expose:
      - "8080"
    environment:
      CART_HOST: cart
      USER_HOST: user
      AMQP_HOST: rabbitmq
      AMQP_USER: roboshop
      AMQP_PASS: roboshop123
    depends_on:
      rabbitmq:
        condition: service_healthy
      cart:
        condition: service_started
      user:
        condition: service_started

  frontend:
    build: ./frontend
    image: chandana137/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - cart
      - user
      - shipping
      - payment
      - catalogue

volumes:
  mongodb:
  mysql:
  rabbitmq:
  redis:

networks:
  default:
    driver: bridge
    name: roboshop
    external: false